@font-face {
  font-family: "TTHoves";
  src: url("./assets/fonts/TTHovesPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachina";
  src: url("./assets/fonts/NeueMachina-Regular.woff2") format("woff2");
}

:root {

  --bg: #C1C0BE;
  --ball: #D5FB11;
  --black: #000000;

}

* {
  box-sizing: border-box;
}

html,
body {

  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: var(--bg);

  font-family: "TTHoves", sans-serif;
}

#bg {

  position: fixed;
  inset: 0;

  background: var(--bg);

  z-index: 0;
}

#physics-layer {

  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  z-index: 1;
  pointer-events: none;
}

#physics {

  width: 100%;
  height: 100%;
  display: block;
}

#timer {

  position: fixed;

  top: 100px;
  left: 50%;

  transform: translateX(-50%);

  color: var(--black);

  font-size: 60px;
  line-height: 1;

  z-index: 20;
}

#counter {

  position: fixed;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  font-family: "NeueMachina", sans-serif;

  font-size: 400px;
  line-height: 1;

  color: var(--black);

  z-index: 20;
}

#label {

  position: fixed;

  left: 50%;
  bottom: 100px;

  transform: translateX(-50%);

  font-size: 60px;
  line-height: 1;

  color: var(--black);

  z-index: 20;
}
